html,
body {
  background-color: #ffe8e8;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 16px;
  font-family: "Timmana", sans-serif;
}

h1 {
  color: darkblue;
  text-align: center;
  font-family: 'Bungee Shade', sans-serif;
  font-size: 2.5rem; 
  margin: 0 1rem 1rem;
}

button {
  position: fixed;
  bottom: 50px;
  right: 20px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  border: none;
  font-size: 24px;
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: orangered;
  background-color: transparent;
  font-family: "Timmana", sans-serif;
}

button text{
  padding:0;
  margin:0;
}

/* Hover effect */
button:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: green;
}

/* CSS for fade-in animation */
.fade-in {
  opacity: 0;
  animation: fade-in-animation 1s ease forwards;
  position: absolute; /* 将动画容器设为绝对定位 */
  top: 53%; /* 上方位置调整 */
  left: 40%; /* 左侧位置调整 */
  transform: translate(-50%, -50%); /* 使用 transform 属性水平垂直居中 */
  z-index: 2; /* 确保动画位于图像之上 */
  color: orangered;
  font-size: 2rem;
  text-shadow: 4px 4px 8px white;
  text-align: center;
}

@keyframes fade-in-animation {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Additional styles for animation container */
#animationContainer {
  text-align: center;
}

.container {
  position: relative; /* 将容器设为相对定位 */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

img {
  margin-top: 100px;
  width: 90%;
  height: auto;
  opacity: 50%;
}

@media screen and (min-width: 900px) {
  h1{
    font-size: 3.5rem;
  }

  .fade-in {
    text-align: center;
    font-size: 6rem;
    position: absolute; /* 将动画容器设为绝对定位 */
    top: 40%; /* 上方位置调整 */
    left: 40%; /* 左侧位置调整 */
  }

  img {
    margin-top: 100px;
    width: 70%;
  }

  button {
    position: fixed;
    bottom: 35px;
  }
}